
body {
    font-family: HelveticaNeue, Helvetica, sans-serif;
}

#car {
    float: left;
    overflow: visible;
}

#blueprint {
    position: relative;
    width: 785px;
    height: 380px;
    /*background: url('img/blueprint_i3.png');*/
    background-size: contain;
}

#other-info {
    float: left;
    margin-left: 2em;
}

.info-group {
    display: none;
}
.info-group h3 {
    margin-bottom: 0;
}
.info-group p {
    margin: 0;
}

.temperature {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid black;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    background-color: rgba(0,0,0,0.5);
}
.temperature-big {
    width: 70px;
    height: 70px;
    line-height: 70px;
}

.seat-temperature-driver {
    position: absolute;
    top: 220px;
    left: 379px;
}
.seat-temperature-passenger {
    position: absolute;
    top: 102px;
    left: 400px;
}
.seat-position-driver {
    position: absolute;
    top: 280px;
    left: 343px;
}
.seat-position-driver-label {
    position: absolute;
    top: 298px;
    left: 370px;
    background: white;
}

#ac-temperature {
    position: absolute;
    left: 450px;
    top: 150px;
}

.sideview-mirror {
    width: 50px;
    height: 44px;
    background-image: url(img/sideview-mirror.png);
    background-size: cover;    
    transform: rotate(0deg);
    transform-origin: 0% 0%;
}

#sideview-mirror-left {
    position: absolute;
    top: 337px;
    left: 268px;
    background-image: url(img/sideview-mirror-left.png);
    transform: rotate(0deg);
    transform-origin: 10px 4px;
}

#sideview-mirror-right {
    position: absolute;
    left: 268px;
    top: 1px;
    transform-origin: 10px 40px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0.15;    
}